.ui.borderless.menu {
  border: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  padding: 10px;
}

h2{
  background-color: white;
  color: black;
}

.ui.primary.button{
  margin-left: 10px;
}

.ui.image {
  padding-top: 10px;
}

.footer-background {
  background-image: linear-gradient(-90deg, lightseagreen, lightskyblue);
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.public-disclosure {
  padding-left: 60px;
  padding-right: 60px;
}

.dummy-text {
  font-size: 18px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 60px;
}

.link.item a:hover{
  color: red;
}

.ui.teal.fluid.button {
  padding-top: 10px;
}

body {
  background-color: lightsteelblue;
}

/*
.login-page {
  background-image: linear-gradient(-90deg, lightseagreen, lightskyblue);
}
*/

