.ui.borderless.menu {
  border: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  padding: 10px;
}

h2{
  background-color: aqua;
  color: black;
}

.ui.primary.button{
  margin-left: 10px;
}
.head{
  margin-left: 30px;
}

.colorblocktop {
  padding-top: 20px;
}

.ui.image {
  padding-top: 25%;
}

.pictext.text {
  padding-top: 40%;
  color: white;
  font-size: 18px;
  text-align: center;
}

.footer-background {
  background-color: dodgerblue;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}